/* Styling for the mobile table container */
.mob-table {
    width: 800px;
    padding: 20px 25px;
    background-color: white;
    margin: 10px auto 0; /* Adjusted margin to move the table to the middle-top */
    border-radius: 3px;
  }
  
  /* Styling for the headers section */
  .headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px;
    background-color: #435d7d;
  }
  
  .add {
    background-color: #5cb85c;
    color: white;
  }
  
  /* Styling for buttons */
  .btn-primary {
    background-color: #337ab7;
  }
  
  /* Center-align table headers */
  th {
    text-align: center;
  }
  
  /* Styling for the form wrapper */
  .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  
  /* Styling for the mobile form */
  .mobile-form {
    background-color: white;
    width: 600px;
    padding: 20px 50px;
    border-radius: 5px;
  }
  
  /* Styling for form controls */
  .form-control {
    width: 90%;
  }
  
  /* Styling for input groups */
  .group {
    display: flex;
    margin: 15px 0;
  }
  
  /* Styling for group labels */
  .group label {
    width: 70px;
    line-height: 40px;
    height: 40px;
  }
  
  /* Styling for action buttons */
  .action {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 20px;
  }
  
  /* Styling for the overall container */
  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top of the container */
    min-height: 100vh; /* Center the container both vertically and horizontally */
  }
  
  /* Center-align text */
  .text-center {
    text-align: center;
  }
  
  /* Styling for error message */
  .text-danger {
    color: #d9534f;
  }
  