<div class="home-page-container">
    <h1 class="center">Welcome to Hyderabad</h1>
    <div class="image-container">
        <img src="./assets/images/1.jpg" alt="Hyderabad Image 1">
        <img src="./assets/images/2.jpg" alt="Hyderabad Image 2">
    </div>      
    <p class="description">
      Hyderabad, also known as the "City of Pearls," is a vibrant city located in southern India.
      It is renowned for its rich history, cultural heritage, and delicious cuisine.
      The city has a blend of modern infrastructure and historical landmarks, making it a unique destination for travelers.
      Explore the bustling markets, taste the famous Hyderabadi Biryani, and immerse yourself in the charm of this diverse city.
    </p>
</div>

